@model ProjectX.ViewModels.Salon.MySalonViewModel
@{
    ViewData["Title"] = "My Salon";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- List of Salons -->
            <div id="salonList" class="salon-list d-flex justify-content-start">
                <h2>Your Salons:</h2>
                <ul class="list-inline ml-3">
                    @foreach (var salon in ViewBag.SalonList as List<ProjectX.ViewModels.Salon.MySalonViewModel>)
                    {
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-primary salon-link" data-id="@salon.SalonId" style="font-size: 18px; margin-left:10px;">@salon.SalonName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Salon Details -->
            <div id="salonDetails" class="card mt-4">
                <img src="@Model.ProfilePictureUrl" class="card-img-top" alt="Salon Profile Picture">
                <div class="card-body">
                    <h2 class="card-title">@Model.SalonName</h2>
                    <h4>@Model.City, @Model.Address</h4>
                    <p><strong>Phone:</strong> @Model.PhoneNumber</p>
                    <p>@Model.Description</p>

                    <!-- Google Maps iframe -->
                    @if (!string.IsNullOrEmpty(Model.MapUrl))
                    {
                        <div class="mt-4">
                            <!-- Embed Google Maps in an iframe -->
                            @Html.Raw(Model.MapUrl)
                        </div>
                    }
                    
                    <hr />
                    <!-- Photo Gallery -->
                    <div class="row mt-3 mb-3">
                        <h4 class="col-md-6">Gallery</h4>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <button id="addPhotoButton" class="btn btn-primary">Add Photo</button>
                        </div>
                    </div>
                    <div class="row photo-container">
                        @foreach (var photo in Model.Photos)
                        {
                            <div class="col-md-4 mb-3">
                                <div class="photo-wrapper">
                                    <img src="@photo.Url" class="img-fluid salon-photo" alt="@photo.Caption" data-toggle="modal" data-target="#photoModal-@photo.Id">
                                    <p class="photo-caption">@photo.Caption</p>
                                </div>
                            </div>
                        }
                    </div>


                    <!-- Modal for displaying larger photo -->
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="modal fade" id="photoModal-@photo.Id" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="photoModalLabel">@photo.Caption</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <img src="@photo.Url" class="img-fluid salon-photo" alt="@photo.Caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                    <!-- Edit and Delete Buttons -->
                    <div class="mt-4">
                        <a href="#" class="btn btn-primary mr-2">Edit Salon</a>
                        <button type="button" class="btn btn-danger">Delete Salon</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Photo Modal -->
<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="addPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPhotoModalLabel">Add Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding photo -->
                <form id="addPhotoForm" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="photoFile">Photo:</label>
                        <input type="file" class="form-control-file" id="photoFile" name="photo">
                    </div>
                    <div class="form-group">
                        <label for="photoCaption">Caption:</label>
                        <input type="text" class="form-control" id="photoCaption" name="caption">
                    </div>
                    <input type="hidden" name="salonId" id="salonId" value="@Model.SalonId">
                    <button type="submit" class="btn btn-primary mt-3">Add Photo</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Event handler for salon links
            $('.salon-link').click(function (e) {
                e.preventDefault(); // Prevent the default action (i.e., navigating to the link)

                var salonId = $(this).data('id'); // Get the salon ID from the data-id attribute

                // Make an AJAX request to fetch the details of the selected salon
                $.ajax({
                    url: '/MySalon/GetSalonDetails',
                    type: 'GET',
                    data: { id: salonId },
                    success: function (response) {
                        // Replace the content of the salon details section with the response
                        $('#salonDetails').html(response);
                    },
                    error: function () {
                        console.error('Error occurred while fetching salon details.');
                    }
                });
            });

            // Event handler for Add Photo form submission
            $('#addPhotoForm').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                var formData = new FormData(this);

                $.ajax({
                    url: '/MySalon/AddPhoto',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        // Reload the page to show the new photo
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error('Error: ' + error);
                    }
                });
            });

            // Event handler for clicking on a photo to display larger version
            $(document).on('click', '.salon-photo', function () {
                var photoUrl = $(this).attr('src');
                var photoCaption = $(this).closest('.photo-wrapper').find('.photo-caption').text();
                var photoId = $(this).data('target').split('-')[1]; // Assuming the data-target attribute is like "#photoModal-1"

                $('#photoModal-' + photoId + ' .modal-body img').attr('src', photoUrl);
                $('#photoModal-' + photoId + ' .modal-title').text(photoCaption);
                $('#photoModal-' + photoId).modal('show');
            });

            // Event handler for Add Photos button
            $('#addPhotoButton').click(function () {
                // Show the add photo modal here
                $('#addPhotoModal').modal('show');
            });
        });
    </script>
}
