@model ProjectX.ViewModels.Salon.SalonViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                    <h2 class="card-title text-center">@Model.Name</h2>
            <div class="card">
                <img src="@Model.ProfilePictureUrl" class="card-img-top" alt="Salon Profile Picture">
                <div class="card-body">
                    <h3>Details:</h3>
                    <p class="card-text"><b>Location:</b> @Model.City, @Model.Address</p>
                    <p class="card-text"><b>Phone number:</b> @Model.PhoneNumber</p>
                    <p class="card-text"><b>About us:</b> <br/>@Model.Description</p>

                    <!-- Check if MapUrl is not null or empty -->
                    @if (!string.IsNullOrEmpty(Model.MapUrl))
                    {
                        <div class="mt-4">
                            <!-- Embed Google Maps in an iframe -->
                            @Html.Raw(Model.MapUrl)
                        </div>
                    }

                    <div class="text-center mt-4">
                        <a href="#" class="btn btn-primary mr-2">Book Appointment</a>
                        <a href="#" class="btn btn-secondary">Contact Salon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>